@model IEnumerable<nitecare.Model.Contact>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<!-- Container -->
<div class="container-fluid px-lg-4">

    <div class="row">
        <div class="col-xl-12">
            <p>
                <a class="btn btn-info my-4" asp-action="Create">Add new contact</a>
            </p>

            <section class="hk-sec-wrapper">
                <h5 class="hk-sec-title">Danh sách liên lạc với cửa hàng</h5>
                <div class="row">
                    <div class="col-sm">
                        <div class="table-wrap">
                            <table class="table tablesaw table-bordered table-hover  mb-0" data-tablesaw-mode="swipe" data-tablesaw-sortable data-tablesaw-sortable-switch data-tablesaw-minimap data-tablesaw-mode-switch>
                                <thead>
                                    <tr>
                                        <th scope="col" data-tablesaw-sortable-col>ContactId</th>
                                        <th scope="col" data-tablesaw-sortable-col>ContactName</th>
                                        <th scope="col" data-tablesaw-sortable-col>Phone</th>
                                        <th scope="col" data-tablesaw-sortable-col>Address</th>
                                        <th scope="col" data-tablesaw-sortable-col>Actions</th>

                                    </tr>
                                </thead>
                                <tbody>
                                    @if (Model != null)
                                    {
                                        @foreach (var item in Model)
                                        {
                                    <tr>
                                        <td>@item.ContactId</td>
                                        <td>@item.ContactName</td>
                                        <td>@item.Phone</td>
                                        <td>@item.Address</td>
                                        <td>
                                            <a class="btn btn-secondary" asp-action="Edit" asp-route-id="@item.ContactId">Edit</a>
                                            <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.ContactId">Delete</a>
                                        </td>
                                    </tr>
                                        }
                                    }

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </section>

        </div>
    </div>
</div>
<!-- /Container -->
<!-- Footer -->
<div class="hk-footer-wrap container-fluid px-lg-4">
    <footer class="footer">
        <div class="row">
            <div class="col-md-6 col-sm-12">
                <p> © 2019. Powerd by<a href="//bizmac.com.vn" class="text-dark" target="_blank">BizMaC</a></p>
            </div>
        </div>
    </footer>
</div>
<!-- /Footer -->