@model IEnumerable<nitecare.Model.Page>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<!-- Container -->
<div class="container-fluid px-lg-4">

    <div class="row">
        <div class="col-xl-12">
            <p>
                <a class="btn btn-info my-4" asp-action="Create">Thêm mới tin tức</a>
            </p>

            <section class="hk-sec-wrapper">
                <h5 class="hk-sec-title">Danh sách tin tức</h5>
                <div class="row">
                    <div class="col-sm">
                        <div class="table-wrap">
                            <table class="table tablesaw table-bordered table-hover  mb-0" data-tablesaw-mode="swipe" data-tablesaw-sortable data-tablesaw-sortable-switch data-tablesaw-minimap data-tablesaw-mode-switch>
                                <thead>
                                    <tr>
                                        <th scope="col" data-tablesaw-sortable-col>PageId</th>
                                        <th scope="col" data-tablesaw-sortable-col>PageName</th>
                                        <th scope="col" data-tablesaw-sortable-col>Title</th>
                                        <th scope="col" data-tablesaw-sortable-col>Actions</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @if (Model != null)
                                    {
                                        @foreach (var item in Model)
                                        {
                                    <tr>
                                        <td>@item.PageId</td>
                                        <td>@item.PageName</td>
                                        <td>@item.Title</td>
                                        <td>
                                            <a class="btn btn-secondary" asp-action="Edit" asp-route-id="@item.PageId">Edit</a>
                                            <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.PageId">Delete</a>
                                        </td>
                                    </tr>
                                        }
                                    }

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </section>

        </div>
    </div>
</div>
<!-- /Container -->
