@using nitecare.Model
@model List<Product>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}



<!-- Container -->
<div class="container-fluid px-lg-4">

    <div class="row">
        <div class="col-xl-12">
            <p>
                <a class="btn btn-info my-4" asp-action="Create">Thêm mới sản phẩm</a>
            </p>

            <section class="hk-sec-wrapper">
                <h5 class="hk-sec-title ">Danh sách sản phẩm</h5>
                <div class="row">
                    <div class="col-sm">
                        <div class="table-wrap">
                            <table class="table tablesaw table-bordered table-hover  mb-0" data-tablesaw-mode="swipe" data-tablesaw-sortable data-tablesaw-sortable-switch data-tablesaw-minimap data-tablesaw-mode-switch>
                                <thead>
                                    <tr>
                                        <th scope="col" data-tablesaw-sortable-col>Tên sản phẩm</th>
                                        <th scope="col" data-tablesaw-sortable-col>Giá bán</th>
                                        <th scope="col" data-tablesaw-sortable-col>Giá nhập</th>
                                        <th scope="col" data-tablesaw-sortable-col>Voucher</th>
                                        <th scope="col" data-tablesaw-sortable-col>Số lượng trong kho</th>

                                        <th scope="col" data-tablesaw-sortable-col>Actions</th>
                                    </tr>
                                </thead>
                                <tbody id="product">
                                    @if (Model.Count > 0)
                                    {
                                        @foreach (var item in Model)
                                        {
                                            <tr>
                                                <td>@item.ProductName</td>
                                                <td>@item.Price</td>
                                                <td>@item.OriginalPrice</td>
                                                <td>@item.Voucher</td>
                                                <td>@item.Stock</td>

                                                <td>
                                                    <a asp-action="Edit" asp-route-id="@item.ProductId">
                                                        <span class="feather-icon" style="color:black"><i data-feather="edit"></i></span>
                                                    </a>
                                                    <a asp-action="Delete" asp-route-id="@item.ProductId">
                                                        <span class="feather-icon" style="color:red"><i data-feather="trash-2"></i></span>
                                                    </a>
                                                </td>
                                            </tr>
                                        }
                                    }

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </section>

        </div>
    </div>
</div>
