@model nitecare.Model.Category

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}


<div class="mx-4">
    <div>
        <h3>Xóa danh mục sản phẩm</h3>
    </div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CategoryId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CategoryId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CategoryName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CategoryName)
        </dd>
       
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ParentId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ParentId)
        </dd>

    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="CategoryId" />
        <input type="submit" value="Delete" class="btn btn-danger" />
        <a class="btn btn-dark" asp-action="Index">Back</a>
    </form>
</div>
